<div class="container">
  <div class="product-list__header d-flex align-items-center justify-spacebtw">
    <h2 class="xs-h-18 lg-h-24 colon">{{ section.settings.heading }}</h2>
    {% if section.settings.product_list.count > 5 %}
      <div class="d-none lg-d-block">
        <button class="js-prev-scroll btn btn__icon">
          {% render 'icon-prev-scroll' %}
        </button>
        <button class="js-next-scroll btn btn__icon">
          {% render 'icon-next-scroll' %}
        </button>
      </div>
    {% endif %}
  </div>
  <div class="container-scroll d-grid xs-2-column lg-d-flex overflow-hidden">
    {% for product in section.settings.product_list %}
      <div class="scroll-content">
        {% render 'product-card', product: product %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Product List",
    "tag": "section",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "label": "Heading",
        "default": "Title"
      }, {
        "type": "product_list",
        "id": "product_list",
        "label": "Choose product"
      }
    ],
    "presets": [
      {
        "name": "Product List"
      }
    ]
  }
{% endschema %}