.background-img
{
    background-image: var(--background-img);
}

.background-color
{
    background-color: var(--background-color);
}

.text-color
{
    color: var(--text-color);
}

.btn-background-color
{
    background-color: var(--btn-background-color);
}

.btn-text-color
{
    color: var(--btn-text-color);
}

.svg-stroke
{
    stroke: var(--text-color);
}

.svg-fill
{
    fill: var(--text-color);
}

.xs-padding-block
{
    padding-block: calc(var(--gutter-base) * var(--xs-pb));
}

.xs-heading-mb
{
    margin-bottom: var(--xs-heading-mb);
}

.xs-content-mb
{
    margin-bottom: var(--xs-content-mb);
}

.background-gradient
{
    background: var(--background-gradient);
}

.width
{
    width: var(--custom-width);
}

/*--Grid--*/
.xs-column-gap
{
    column-gap: var(--xs-gutter-custom);
}

@media (min-width: 992px) {
    .lg-padding-block
    {
        padding-block: calc(var(--gutter-base) * var(--lg-pb));
    }
    
    .lg-column
    {
        grid-column: var(--lg-cl);
    }
    
    .lg-row
    {
        grid-row: var(--lg-row);
    }

    .lg-column-gap
    {
        column-gap: var(--gutter);
    }

    .lg-row-gap
    {
        row-gap: var(--lg-gutter-custom);
    }

    .lg-heading
    {
        font-size: calc(var(--font-heading-scale) * var(--lg-heading));
    }

    .lg-heading-mb
    {
        margin-bottom: var(--lg-heading-mb);
    }

    .lg-content-mb
    {
        margin-bottom: var(--lg-content-mb);
    }
}
