.grid-1-row
{
    grid-row: 1;
}

.xs-gap-14
{
    column-gap: 1.4rem;
}

.xs-gap-18
{
    gap: 1.8rem;
}

.xs-gap-19
{
    gap: 1.9rem;
}

.xs-2-column
{
    grid-template-columns: repeat(2, 1fr);
}

.xs-4-column
{
    grid-template-columns: repeat(4, 1fr);
}

.xs-row
{
    grid-row: var(--xs-row);
}

.xs-occupies-1column
{
    grid-column: span 1;
}

.xs-occupies-2column
{
    grid-column: span 2;
}
@media (min-width: 768px) {
    .md-2-column
    {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (min-width: 992px) {
    .lg-gap-11
    {
        gap: 1.1rem;
    }

    .lg-gap-12
    {
        gap: 1.2rem;
    }

    .lg-gap-20
    {
        gap: 2rem;
    }

    .lg-gap-29
    {
        gap: 2.9rem;
    }

    .lg-2-column
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .lg-4-column
    {
        grid-template-columns: repeat(4,1fr);
    }
    
    .lg-18-column
    {
        grid-template-columns: repeat(18, 1fr);
    }

    .lg-2-rows
    {
        grid-template-rows: repeat(2, 1fr);
    }

    .lg-occupies-1column
    {
        grid-column: span 1;
    }
    
    .lg-occupies-3column
    {
        grid-column: span 3;
    }

    .lg-occupies-8column
    {
        grid-column: span 8;
    }

    .lg-occupies-10column
    {
        grid-column: span 10;
    }

}