.xs-gap-14
{
    gap: 1.4rem;
}

.xs-gap-19
{
    gap: 1.9rem;
}

.xs-4-column
{
    grid-template-columns: repeat(4, 1fr);
}

.xs-column
{
    grid-column: var(--xs-cl);
}

.xs-row
{
    grid-row: var(--xs-row);
}

.xs-occupies-1column
{
    grid-column: span 1;
}

.xs-occupies-2column
{
    grid-column: span 2;
}

.xs-grid__span3
{
    grid-column: span 3;
}

.xs-grid__span4
{
    grid-column: span 4;
}

.xs-grid__en4
{
    grid-column-end: 4;
}

.xs-grid__en5
{
    grid-column-end: 5;
}

.xs-grid__row1
{
    grid-row: 1/2;
}

.column-end-3
{
    grid-column-end: 3;
}

.column-start-3
{
    grid-column-start: 3;
}

@media (min-width: 992px) {
    .lg-gap-11
    {
        gap: 1.1rem;
    }

    .lg-gap-12
    {
        gap: 1.2rem;
    }

    .lg-gap-20
    {
        gap: 2rem;
    }

    .lg-gap-29
    {
        gap: 2.9rem;
    }

    .lg-2-column
    {
        grid-template-columns: repeat(2, 1fr);
    }

    .lg-4-column
    {
        grid-template-columns: repeat(4,1fr);
    }
    
    .lg-18-column
    {
        grid-template-columns: repeat(18, 1fr);
    }

    .lg-2-rows
    {
        grid-template-rows: repeat(2, 1fr);
    }

    .lg-occupies-1column
    {
        grid-column: span 1;
    }
    
    .lg-occupies-3column
    {
        grid-column: span 3;
    }

    .lg-occupies-4column
    {
        grid-column: span 4;
    }

    .lg-occupies-8column
    {
        grid-column: span 8;
    }

    .lg-occupies-10column
    {
        grid-column: span 10;
    }

    .lg-grid__span18
    {
        grid-column: span 18;
    }

    .lg-grid__en1
    {
        grid-column-end: 1;
    }

    .lg-grid__en12
    {
        grid-column-end: 12;
    }

    .lg-column-end18
    {
        grid-column-end: 18;
    }

    .lg-grid__en19
    {
        grid-column-end: 19;
    }

    .lg-grid__rspan2
    {
        grid-row: span 2;
    }
}