@media (min-width: 512px) {
    
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
    .frame::before
    {
        position: absolute;
        content: "";
        width: 96%;
        height: 2px;
        background-color: var(--text-color);
        top:0;
        right:0;
    }

    .frame::after
    {
        position: absolute;
        content: "";
        width: 2px;
        height: 35%;
        background-color: var(--text-color);
        top:0;
        right:0;
    }
    .lg-h-26
    {
        font-size: var(--lg-heading-26);
    }

    .lg-h-24
    {
        font-size: var(--lg-heading-24);
    }

    .lg-h-22
    {
        font-size: var(--lg-heading-22);
    }
    
    .lg-h-18
    {
        font-size: var(--lg-heading-18);
    }

    .lg-h-14
    {
        font-size: var(--lg-heading-14);
    }

    .lg-h-12
    {
        font-size: var(--lg-heading-12);
    }

    .lg-fs-25
    {
        font-size: var(--lg-fs-25);
        letter-spacing: 0.025rem;
    }

    .lg-fs-22
    {
        font-size: var(--lg-fs-22);
        letter-spacing: 0.022rem;
    }

    .lg-fs-16
    {
        font-size: var(--lg-fs-16);
        letter-spacing: 0.016rem;
    }

    .lg-fs-14
    {
        font-size: var(--lg-fs-14);
        letter-spacing: 0.014rem;
    }

    .lg-fs-13
    {
        font-size: var(--lg-fs-13);
        letter-spacing: 0.013rem;
    }

    .lg-fs-12
    {
        font-size: var(--lg-fs-12);
        letter-spacing: 0.012rem;
    }

    /*--header--*/
    .logo__size
    {
        height: 4.4rem;
        width: 9.4rem;
    }

    .search__main
    {
        width: var(--w-lg);
    }

    .slide-menu
    {
       position: static;
    }

    .link-list
    {
        gap: 2.8rem;
        padding: initial;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .js-menu-child
    {
        padding: 1.5rem;
        border: 2px solid var(--color-secondary);
        background-color: var(--background-color);
    }

    /*--Liquid custome--*/
    .lg-p__block
    {
        padding-block: var(--padding-block);
    }
    
    /*--slideshow--*/
    .banner
    {
        --ctpi: 1.4rem;
    }


    .list-image__header
    {
        margin-bottom: -1.9rem;
    }

    .list-image__title
    {
        padding-inline: 10rem;
        background-color: var(--color-secondary);
    }

    .list-image__content
    {
        padding: 2.8rem 1.1rem;
        border: 2px solid var(--color-grey);
    }

    .open-child
    {
        position: initial;
    }


    .slideshow__btns
    {
        right: 0;
        left: 0;
        bottom: 0;
    }

    .btn-prev
    {
        right: 5.3rem;
    }

    .container__dots
    {
        padding-left: 2.8rem;
    }

    /*--List image--*/
    .list-image
    {
        padding-block: 3rem;
    }

    .list-image__image
    {
        border: none;
    }

    /*--multi collection--*/
    .card__body--position1
    {
        right: 6.4rem;
    }

    .card__body--position2
    {
        bottom: 10.3rem;
        left: 8.6rem;
    }

    .card__body--position3
    {
        left: 9.4rem;
    }

    /*--filter--*/
    .product-filter
    {
        border-right: 1px solid var(--color-muted);
    }

    .sale-tag
    {
        top: 1.5rem;
    }

    .product-filter__header
    {
        margin-bottom: 3.1rem;
    }

    .card-body__title
    {
        margin-bottom: 1.8rem;
    }

    .card-body__price-ctnr
    {
        gap: 1.3rem;
    }

    .tabcontent
    {
        column-gap: 2.6rem;
        row-gap: 4.8rem;
    }

    .card-body__btn-load
    {
        margin-top: 6.3rem;
        color: var(--color-grey2);
    }

    /*--richtext--*/
    .richtext__box
    {
        max-width: 63.9rem;
        margin-left: 26.9rem;
    }

    .frame__position
    {
        padding-top: var(--frame-pt);
        padding-right: var(--frame-pr);
    }

    .richtext__body
    {
       padding: initial;
    }

    .richtext__content
    {
        padding: initial;
        border: none;
    }

    /*--scroll--*/
    .container-scroll {
        scroll-snap-type: x mandatory;
        white-space: nowrap;
        gap: 2.6rem;
    }
      
    .scroll-content {
        flex: 0 0 auto; 
        scroll-snap-align: start;
        width: calc(20% - 2.1rem)
    }

    .product-list__header
    {
        margin-bottom: 3.4rem;
    }

    /*--Blog spot--*/
    .article__heading
    {
        margin-bottom: 3.2rem;
    }

    .article__date
    {
        font-size: 1.3rem;
    }
}

@media (min-width: 1440px) {

}

@media (max-width: 1920px)
{
    .truncate-text
    {
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }

    .truncate-text--2line
    {
        -webkit-line-clamp: 2;
    }

    .truncate-text--3line
    {
        -webkit-line-clamp: 3;
    }

}