html{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: font-size .1s;
}

.container
{
    max-width: 1458px;
    margin: 0 auto;
}

.container-fluid
{
    margin: 0 auto;
    padding-inline: var(--ctpi);
    transition: padding 0.3s;
}


body
{
    color: var(--color-primary);
    font-size: var(--xs-fs-10);
    font-weight: var(--font-body-weight);
    font-family: var(--body-font);
    -webkit-font-smoothing: antialiased;
}

input
{
    font-size: inherit;
}

h1, h2, h3, h4, h5, .xs-h-18, .xs-h-14, .xs-h-12, .xs-h-10, .xs-h-8, .lg-h-26, .lg-h-24, .lg-h-22, .lg-h-18, .lg-h-14, .lg-h-12
{
    font-family: var(--header-font);
    font-weight: var(--font-heading-weight);
}

.xs-h-18
{
    font-size: var(--xs-heading-18);
}

.xs-h-14
{
    font-size: var(--xs-heading-14);
}

.xs-h-12
{
    font-size: var(--xs-heading-12);
}

.xs-h-10
{
    font-size: var(--xs-heading-10);
}

.xs-h-8
{
    font-size: var(--xs-heading-8);
}


/*--header--*/
.logo__size
{
    height: 3rem;
    width: 6.6rem;
}

.header__search
{
    gap: .8rem;
}

.header__icons
{
    gap: 1.5rem;
}

.cart__count
{
    left: .9rem;
    bottom: 1.1rem;
    background-color: var(--color-danger);
    height: 1.4rem;
    width: 1.4rem;
}

.btn__close
{
    padding: 1.8rem 2.8rem 1.7rem 1.6rem;
    background-color: var(--color-primary);
    height: 5rem;
}

.rotate
{
    transform: rotate(-135deg);
    transition: .3s;
    transition-delay: .1s;
}

.open-child
{
    transform: rotate(90deg);
}

.open-child.active
{
    transform: rotate(-90deg);
    transition: .3s;
}

.nav-item.active
{
    text-decoration: underline;
    color: var(--color-danger);
}

.slide-menu {
    left: -100%;
    top: 100%;
    z-index: 3;
}
  
.slide-menu.active {
    left: 0;
}

.link-list
{
    gap: 2.4rem;
    padding: 1.3rem 1.2rem 3rem 1.6rem;
}

.js-menu-child
{
    display: none;
}

.js-menu-child.active
{
    display: block;
}

.input-show
{
    top: -200%;  
    opacity: 0.5;
    z-index: 4;
}

.input-show.active
{
    top: 100%;  
    opacity: 1;
}

.search__box
{
    padding: 1.5rem;
}

.search__main
{
    width: var(--w-xs);
    padding: 1.4rem;
}

/*--slideshow--*/
.banner
{
    --ctpi: 0;
}

.slideshow__btns
{
    left: 1.4rem;
    right: 1.4rem;
    bottom: 1.1rem;
}

.slide__img
{
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.25);
    aspect-ratio: 6/9;
}

.slide__img--small
{
    max-width: 416px;
}

.slide__img--large
{
    max-width: 474px;
}

.btn__dot {
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--color-grey);
    transition: background-color 0.6s ease;
    background-color: transparent;
}
  
.btn__dot.active
{
    border: none;
    background-color: var(--color-primary);
    width: 2.2rem;
    height: 2.2rem;
}

/*--list-image--*/
.list-image
{
    padding-block: 1.2rem;
}

.list-image__image
{
    border: 2px solid var(--color-muted);
}

.list-image__content
{
    row-gap: 1rem;
    column-gap: 1.4rem;
}

/*--Collect--*/
/* .multicollect
{
    padding-block: ;
} */
.multicollect__gap
{
    gap: 1.2rem;
}

.card__img--xs
{
    aspect-ratio: 2/1;
}

.card__img--lg
{
    aspect-ratio: 1/1;
}

.card__body--position1
{
    right: 2.7rem;
}

.card__body--position2
{
    bottom: 3.4rem;
    left: 2.7rem;
}

.card__body--position3
{
    left: 3.1rem;
}

.sale-tag
{
    z-index: 1;
    top: 1rem;
}

.tabcontent:not(:first-child) {
    display: none;
}

.filter-checkbox
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 1rem;
    height: 1rem;
    border: 1px solid var(--color-grey);
}

input[type="checkbox"]:checked
{
    background-color: var(--color-primary);
}

.product-filter__header
{
    margin-bottom: 1.6rem;
}

.product-filter__form
{
    gap: .9rem;   
}

.card-body__new-price
{
    color: var(--color-danger);
}

.card-body__old-price
{
    text-decoration: line-through;
    color: var(--color-grey);
}

.card-img__btn-ctnr
{
    display: none;
    padding: 1.5rem;
}

.card:hover .card-img__btn-ctnr
{
    display: block;
}

.card-img__btn-ctnr .btn__primary:hover 
{
    transition: .3s;
    background-color: var(--color-danger);
    border: none;
}

.card-body__collect-title
{
    --header-font: var(--header-font);
    color: var(--color-grey2);
}

.card-body__title
{
    margin-bottom: .4rem;
}

.card-body__price-ctnr
{
    gap: .6rem;
}

.tabcontent
{
    column-gap: 1.4rem;
    row-gap: 1.8rem;
}

.card-body__btn-load
{
    margin-top: 1.8rem;
}

.richtext__box
{
    margin-left: 2.3rem;
    max-width: 17.1rem;
}

.richtext__body
{
    padding: 10.1rem 1.2rem 1.2rem 1.2rem;
}

.richtext__content
{
    border: 2px solid var(--color-muted);
    padding: 1.6rem 2rem;
}

/*--scroll container--*/
.product-list__header
{
    margin-bottom: 1.6rem;
}


/*--Blog spot--*/
.article__container
{
    padding-inline: 2.4rem;
    padding-top: 2.4rem;
}

.article__heading
{
    margin-bottom: 1.4rem;
}

.article__content
{
    margin-bottom: 1.5rem;
}

.article__date
{
    border-top: 2px solid var(--color-primary);
    color: var(--color-grey3);
}