/*--display--*/
.d-flex
{
    display: flex;
}

.flex-column
{
    flex-direction: column;
}

.flex__item
{
    flex: 0 0 auto;
}

.d-grid
{
    display: grid;
}

.d-block
{
    display: block;
}

.d-inline-block
{
    display: inline-block;
}

.d-none
{
    display: none;
}

.align-items-center
{
    align-items: center;
}

.justify-spacebtw
{
    justify-content: space-between;
}

.justify-center
{
    justify-content: center;
}

.justify-end
{
    justify-content: end;
}

.place-item-center
{
    place-items: center;
}

/*--position--*/
.p-absolute
{
    position: absolute;
}

.p-relative
{
    position: relative;
}

.top-0
{
    top: 0;
}

.left-0
{
    left: 0;
}

.right-0
{
    right: 0;
}

.bottom-0
{
    bottom: 0;
}

.z-index-1
{
    z-index: 1;
}

/*--color--*/
.background-primary
{
    background-color: var(--color-primary);
}

.background-secondary
{
    background-color: var(--color-secondary);
}

.background-danger
{
    background-color: var(--color-danger);
}

.c-secondary
{
    color: var(--color-secondary);
}

.background-grey4
{
    background-color: var(--color-grey4);
}


.c-grey
{
    color: var(--color-grey);
}

.c-grey2
{
    color: var(--color-grey2);
}

/*--spacing--*/
.width-100pc
{
    width: 100%;
}

.width-100vw
{
    width: 100vw;
}

.height-100pc
{
    height: 100%;
}

.mb-14
{
    margin-bottom: 1.4rem;
}

/*--gap--*/
.gap-8
{
    gap: .8rem;
}

.xs-mt-9
{
    margin-top: .9rem;
}

/*--another--*/
.list-style-none
{
    list-style: none;
}

.text-center
{
    text-align: center;
}

.text-uppercase
{
    text-transform: uppercase;
}

.text-decor-none
{
    text-decoration: none;
}

.overflow-hidden
{
    overflow: hidden;
}

.transition-3s
{
    transition: .3s;
}

.objectfit-cover
{
    object-fit: cover;
}

.cursor-pointer
{
    cursor: pointer;
}

.colon::after
{
    content: ":";
}

.background-cover
{
    background-size: cover;
}

.background-contain
{
    background-size: contain;
    background-repeat: no-repeat;
}

.background-right
{
    background-position: right;
}

/*--btn--*/
.btn
{
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.05rem;
    font-family: var(--header-font);
}

.btn__icon
{
    background-color: transparent;
    border: none;
}

.btn__primary
{
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1.8rem 4.5rem;
    border: none;
}

.btn__custome
{
    background-color: transparent;
    color: var(--btn-text-color);
    border: 2px solid var(--btn-border-color);
    padding: 1.25rem 5.2rem;
}

.btn__grey
{
    border: 2px solid  #C4C4C4;
    background-color: var(--color-secondary);
    padding: 1.8rem 4.5rem;
}

.rectangle 
{
    max-width: 100%; 
    aspect-ratio: 172/225; 
}

.square
{
    aspect-ratio: 1/1;
}

.rectangle-horizontal
{
    aspect-ratio: 2/1;
}

.cube-content
{
    position: absolute;
      top: 0;
      left: 0;
      width: 100%; 
      height: 100%;
      object-fit: cover; 
}


@media (min-width: 992px) {
    .lg-d-none
    {
        display: none;
    }

    .lg-d-grid
    {
        display: grid;
    }

    .lg-d-flex
    {
        display: flex;
    }

    .lg-d-block
    {
        display: block;
    }

    .lg-justify-center
    {
        justify-content: start;
    }

    .lg-justify-spacebtw
    {
        justify-content: space-between;
    }

    .lg-justify-end
    {
        justify-content: end;
    }

    .lg-flex-row
    {
        flex-direction: row;
    }
    
    /*--Position--*/
    .lg-p-absolute
    {
        position: absolute;
    }

    .lg-order-1
    {
        order: 1;
    }

    .lg-order-2
    {
        order: 2;
    }

    /*--Spacing--*/
    .lg-width-initial
    {
        width: initial;
    }

    .lg-gap-30
    {
        gap: 3rem;
    }

    .btn--lg
    {
        font-size: 1.8rem;
    }

    .btn--md
    {
        font-size: 1.4rem;
    }

    .btn--sm
    {
        font-size: 1rem;
    }

    /*--anorther--*/
    .lg-text-start
    {
        text-align: start;
    }
}