/*--display--*/
.d-flex
{
    display: flex;
}

.flex-column
{
    flex-direction: column;
}

.d-grid
{
    display: grid;
}

.d-block
{
    display: block;
}

.d-inline-block
{
    display: inline-block;
}

.d-none
{
    display: none;
}

.align-items-center
{
    align-items: center;
}

.justify-spacebtw
{
    justify-content: space-between;
}

.justify-center
{
    justify-content: center;
}

.justify-end
{
    justify-content: end;
}

.place-item-center
{
    place-items: center;
}

/*--position--*/
.p-absolute
{
    position: absolute;
}

.p-relative
{
    position: relative;
}

.top-0
{
    top: 0;
}

.top-30
{
    top: 3rem;
}

.top-50
{
    top: 5rem;
}

.left-0
{
    left: 0;
}

.right-0
{
    right: 0;
}

.bottom-0
{
    bottom: 0;
}

.z-index-1
{
    z-index: 1;
}

.z-index-2
{
    z-index: 2;
}

.z-index-3
{
    z-index: 3;
}

.z-index-4
{
    z-index: 4;
}

/*--color--*/
.bg__clr--primary
{
    background-color: var(--color-primary);
}

.bg__clr--danger
{
    background-color: var(--color-danger);
}

.c-secondary
{
    color: var(--color-secondary);
}

/*--spacing--*/
.width-100pc
{
    width: 100%;
}

.width-100vw
{
    width: 100vw;
}

.height-100pc
{
    height: 100%;
}

.wh-14
{
    width: 1.4rem;
    height: 1.4rem;
}

.mt--30
{
    margin-top: 3rem;
}

.mb--14
{
    margin-bottom: 1.4rem;
}

/*--gap--*/
.gap-8
{
    gap: .8rem;
}

.xs-gap-15
{
    gap: 1.5rem;
}

.xs-gap-24
{
    gap: 2.4rem;
}

.xs-mt-9
{
    margin-top: .9rem;
}

/*--padding--*/
.padding--14
{
    padding: 1.4rem;
}

.p__block--10
{
    padding-block: 1rem;
}

.p__inline--ini
{
    padding-inline: initial;
}

.p__inline--10
{
    padding-inline: 1rem;
}

.p__block-17
{
    padding: 1.7rem;
}

/*--another--*/
.list-style-none
{
    list-style: none;
}

.text-align-center
{
    text-align: center;
}

.text-uppercase
{
    text-transform: uppercase;
}

.text-decor-none
{
    text-decoration: none;
}

.overflow-hidden
{
    overflow: hidden;
}

.transition-3s
{
    transition: .3s;
}

.objectfit-cover
{
    object-fit: cover;
}

.cursor-pointer
{
    cursor: pointer;
}

/*--btn--*/
.btn
{
    display: inline-block;
    cursor: pointer;
    letter-spacing: 0.05;
}

.btn__icon
{
    background-color: transparent;
    border: none;
}

.btn__primary
{
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1.8rem 4.5rem;
}

.btn__custome
{
    background-color: transparent;
    color: var(--btn-text-color);
    border: 2px solid var(--btn-border-color);
    padding: 1.25rem 5.2rem;
}

.btn--lg
{
    font-size: 1.8rem;
}

.btn--md
{
    font-size: 1.4rem;
}



@media (min-width: 992px) {
    .lg-d-none
    {
        display: none;
    }

    .lg-d-grid
    {
        display: grid;
    }

    .lg-d-flex
    {
        display: flex;
    }

    .lg-d-block
    {
        display: block;
    }

    .lg-justify-center
    {
        justify-content: start;
    }

    .lg-justify-spacebtw
    {
        justify-content: space-between;
    }

    .lg-justify-end
    {
        justify-content: end;
    }

    .lg-flex-row
    {
        flex-direction: row;
    }
    
    /*--Position--*/
    .lg-p-absolute
    {
        position: absolute;
    }

    .lg-order-1
    {
        order: 1;
    }

    .lg-order-2
    {
        order: 2;
    }

    /*--Spacing--*/
    .lg-width-initial
    {
        width: initial;
    }
    .lg-width--50pc
    {
        width: 50%;
    }

    .lg-width-100pc
    {
        width: 100%;
    }

    .lg-p__block--36
    {
        padding-block: 3.6rem;
    }

    .lg-padding--15
    {
        padding: 1.5rem;
    }

    .lg-gap-8
    {
        gap: .8rem;
    }

    .lg-gap-30
    {
        gap: 3rem;
    }

    .lg-gap-28
    {
        gap: 2.8rem;
    }

    .lg-mt-51
    {
        margin-top: 5.1rem;
    }
}