:root
{
    --ctpi: 1.4rem;

    --color-primary: #000;
    --color-secondary: #FFF;
    --color-danger: #EB5757;
    --color-muted: #C4C4C4;
    --color-grey: #828282;

    --gutter-base: 1rem;
    --gutter: calc(var(--gutter-base) * var(--xs-gutter-custom))
}

@media (min-width: 992px) {
    :root
    {
        --gutter: calc(var(--gutter-base) * var(--lg-gutter-custom))
    }
}